Source: poker-distutils
Section: python
Priority: optional
Maintainer: Hannes <hannes@pokermania.de>
Build-Depends:
    debhelper,
    python-all
Standards-Version: 3.9.1
Homepage: http://github.com/tuco86/poker-distutils

Package: python-poker-distutils
Section: python
Architecture: all
Provides: ${python:Provides}
X-Python-Version: ${python:Versions}
Depends:
    ${misc:Depends},
    ${python:Depends},
    python-simplejson
Description: distutils extensions. (eg. configure, test)
